/* ------ INDEX ------------------------------------------
  - CSS RESET
  - GENERAL HELPER CLASSES
  - UNIVERSAL STYLES
    - Layout
    - Typography
    - General Styles
  - MODULAR ELEMENTS
    - Element Name
  - SECTION STYLES
---------------------------
Website Fonts: h: Oswald p, etc.: Source Sans Pro
Website Colours: Farbcodes (hex) hier auflisten Text: #383838;
----------------------------
*/

/* ---- CSS RESET ---------------------------------------- */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

[class*=col-], [class*=col_], [class~=col] {
  padding: 0;
}

[class*=grid-], [class*=grid_], [class~=grid] {
  margin: 0;
}

/* ---- GENERAL HELPER CLASSES --------------------------- */
.tall         { min-height:100vh; }
.med-height   { min-height: 50vh; }
.short        { min-height: 30vh; }

.left         { text-align: left; }
.centered     { text-align: center; }
.right        { text-align: right; }

.no-padding { padding: 0; }

.white-bg    { background-color: rgb(245,245,245); }
.darkgrey-bg { background-color: rgb(60,60,60); }
.feat-bg     { background-color: ; }

/* ---- UNIVERSAL STYLES ---------------------------------- */
body{ /* font aussuchen und hier eintragen, link in html eintragen */ (head)
  font-family: 'Source Sans Pro', sans-serif;
  color: #383838;
  background-color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Oswald', sans-serif;
}

h1{
  text-transform: uppercase;
}

h2{
  font-size:
}

h3{
  font-size:
}

p{
  font-family: 'Source Sans Pro', sans-serif;
  color: #383838;
  line-height: 1.8;
  font-size: 20px;
}

a{
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  color: #ffffff;
}

section{

}

img{
  max-width: 100%;
  height: auto;
}

/* --- MODULAR STYLES ----*/

.darkblue_bg{
  color: #11253E;
}

/* --- SECTION STYLES ----*/

/* --- header section ----*/
nav{
  background-color: #11253E;
  justify-content: space-between;
}
.logo{
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-spa
  text-transform:
  line-height: 1.5;
  margin: 1rem;
}

.logo_unterschrift {
  font-family: Arial, sans-serif;
  font-size: 1rem;
  text-transform: none;
  line-height: none;
  margin: none;
  color: #ffffff;
}

/* ALLGEMEINES STYLING DIENSTLEISTUNG */

.sectionrow{
  margin-top: 1%;
}

.left_pic{
  width: 49%;
  height: 22rem;
  float: left;
}

.right_pic{
  width: 49%;
  height: 22rem;
  float: right;
}

.beschreibung_bg{
  height: 90%;
  filter: none;
}

.icon{
  width: 4%;
  margin-left: 48%;
  margin-top: 2%;
}

.icon img{
  height: 6%;
}

.ueberschrift{
  text-transform: uppercase;
  letter-spacing: 2.68px;
}

.border_bottom{
  width: 79px;
  height: 0px;
  border-bottom: #b7b7b7 1px solid;
  margin-left: 44%;
}

.beschreibung_text p{
  padding: 3%;
  text-align: center;
  font-size: 18px;
}

/* INDIVIDUELLES STYLING DIENSTLEISTUNG */

.background_image_merch_links{
  background-image:
  url('../images/FotoMerchandisingLinks.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

.background_image_merch_rechts{
  background-image: url('../images/FotoMerchandisingRechts.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.background_image_pman_links{
  background-image: url('../images/FotoManagementLinks.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.background_image_pman_rechts{
  background-image: url('../images/FotoManagementRechts.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.background_image_log_links{
  background-image: url('../images/FotoLogistikLinks.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.background_image_log_rechts{
  background-image: url('../images/FotoLogistikRechts.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

/* ALLGEMEINES STYLING ÜBER UNS */

h1.ueberschrift{
  margin-top: 2%;
}

.sectionrow_about{
  margin-top: 2%;
  height: 42%;
  justify-content: space-around;
}

.blue_bg{
  background-color: #649ECF;
  border-radius: 50%;
  height: 244.92px;
}

.white_border{
  border: 2px solid white;
  border-radius: 50%;
  height: 75%;
}

.argument_1{
  margin-top: -2.5%;
}

.sectionrow_about_text{
  justify-content: space-around;
}

/* ALLGEMEINES STYLING TEAM */

.ueberschrift_section{
  margin-top: 5%;
}

.team_ueberschrift{
  margin-top: 2%;
}

/* INDIVIDUELLES STYLING TEAM */

.background_image_team1_links{
  background-image:
  url('../images/FotoTeam1Links.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.background_image_team1_rechts{
  background-image:
  url('../images/FotoTeam1Rechts.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.background_image_team2_links{
  background-image:
  url('../images/FotoTeam2Links.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.background_image_team2_rechts{
  background-image:
  url('../images/FotoTeam2Rechts.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

/* ALLGEMEINES STYLING KONTAKT */

#kontakt{
  margin-top: 1%;
  width: 100%;
}

.kontakt_pic{
  height: 40rem;
  justify-content: space-between;
}

.background_image_kontakt_google{
  background-image:
  url('../images/GoogleMapsHintergrund.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
