/* ------ INDEX ------------------------------------------
  - CSS RESET
  - GENERAL HELPER CLASSES
  - UNIVERSAL STYLES
    - Layout
    - Typography
    - General Styles
  - MODULAR ELEMENTS
    - Element Name
  - SECTION STYLES
---------------------------
Website Fonts: h: Oswald p, etc.: Source Sans Pro
Website Colours: Farbcodes (hex) hier auflisten Text: #383838;
----------------------------
*/

/* ---- CSS RESET ---------------------------------------- */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

[class*=col-], [class*=col_], [class~=col] {
  padding: 0;
}

[class*=grid-], [class*=grid_], [class~=grid] {
  margin: 0;
}

/* ---- GENERAL HELPER CLASSES --------------------------- */
.tall         { min-height:100vh; }
.med-height   { min-height: 50vh; }
.short        { min-height: 30vh; }

.left         { text-align: left; }
.centered     { text-align: center; }
.right        { text-align: right; }

.no-padding { padding: 0; }

.white-bg    { background-color: rgb(245,245,245); }
.darkgrey-bg { background-color: rgb(60,60,60); }
.feat-bg     { background-color: ; }

/* ---- UNIVERSAL STYLES ---------------------------------- */
body{ /* font aussuchen und hier eintragen, link in html eintragen */ (head)
  font-family: 'Source Sans Pro', sans-serif;
  color: #383838;
  background-color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Oswald', sans-serif;
}

h1{
  font-size:
}

h2{
  font-size:
}

h3{
  font-size:
}

p{
  font-family: 'Source Sans Pro', sans-serif;
  color: #383838;
  line-height: 1.8;
  font-size: 20px;
}

a{
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  color: #ffffff;
}

section{

}

img{
  max-width: 100%;
  height: auto;
}

/* --- MODULAR STYLES ----*/


/* --- SECTION STYLES ----*/

/* --- header section ----*/
nav{
  background-color: #11253E;
  justify-content: space-between;
}
.logo{
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-spa
  text-transform:
  line-height: 1.5;
  margin: 1rem;
}

.logo_unterschrift{
  font-family: Arial, sans-serif;
  font-size: 1rem;
  text-transform: none;
  line-height: none;
  margin: none;
  color: #ffffff;
}

/* --- dienstleistung section ---- */
/* .dienstleistung{
  margin-top: 1.5%;
  justify-content: space-between;
}

.merch_links{
  width: 49%;
  height: 22rem;
}

.background_image_merch_links{
  background-image: url('../images/FotoMerchandisingLinks.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.merch_rechts{
  width: 49%;
  height: 22rem;
  margin-left: 1%;
}

.background_image_merch_rechts{
  background-image: url('../images/FotoMerchandisingRechts.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.border_bottom{
  border-bottom: #b7b7b7 1px solid;
  width: 15%;
  position: absolute;
  margin-left: 38%;
  text-align: center;
}

.icon{
  width: 4%;
  margin-top: -3%;
}

.ueberschrift{
  margin-bottom: 1%;
  letter-spacing: 0.2rem;
}

.beschreibung{
  margin-top: 5%;
  font-size: 1.06rem;
}

.blur{
  filter: blur(1.5px);
}

.beschreibung_rechts{
  width: 42%;
  height: 44%;
  position: absolute;
  padding: 2%;
}*/

/* ALLGEMEINES STYLING DIENSTLEISTUNG */

.sectionrow{
  margin-top: 1%;
}

.left_pic{
  width: 49%;
  height: 22rem;
  float: left;
}

.right_pic{
  width: 49%;
  height: 22rem;
  float: right;
}

.beschreibung_bg{
  height: 90%;
  filter: none;
}

.icon{
  width: 4%;
  margin-top: -3%;
}

/* INDIVIDUELLES STYLING DIENSTLEISTUNG */

.background_image_merch_links{
  background-image:
  url('../images/FotoMerchandisingLinks.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

.background_image_merch_rechts{
  background-image: url('../images/FotoMerchandisingRechts.jpg');
  background-size: cover;
  background-repeat: no-repeat;
